.App {
  margin: 0 auto;
  width: 1000px;
  header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contents-body {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}
